<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <form action="#" method="post">
        <input type="text" name="name" placeholder="username"/>
        <input type="text" name="age" placeholder="age"/>

        <input type="submit" value="登陆"/>
    </form>
</body>
</html>